<template>
    <div class="Blog">
        <div class="head">Blog</div>
        <div class="categorias">

        </div>
        <div class="contenedor">
            <card v-for="post in posts" :datos="post" :key="post.id" ></card>
        </div>
        <!--falta paginacion-->
    </div>
</template>

<script>
const fb = require('../firebaseConfig.js')
import card from '@/components/card.vue'

export default {
    name: 'blog',
    components: {
        card
    },
    data(){
        return{
            posts: []
        }
    },
    mounted(){
        this.cargarEntrada()
    },
    methods:{
        cargarEntradas(){
            fb.commentsCollection.limit(9).get().then(docs => {
                let entrada = []
                docs.forEach(doc => {
                    let comment = doc.data()
                    comment.id = doc.id
                    entrada.push(comment)
                })
                this.datos = entrada
                //this.formatearfecha(1552445160*1000)
            })
            .catch(function(error) {
                console.log("Error getting blogs: ", error);
            })
        }
    },
    mounted(){
        this.cargarEntradas()
    }
}
</script>

<style scoped>
.Blog{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.contenedor{
    overflow: hidden;
    padding: 4rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}
</style>