<template>
    <div>
        <h1>Hola Usuario</h1>
        <button @click="logout">logout</button>
        <input v-model="id" type="text" placeholder="id"><br>
        <input v-model="titulo" type="text" placeholder="titulo"><br>
        <input v-model="cuerpo" type="text" placeholder="entrada"><br>
        <input v-model="categoria" type="text" placeholder="categoria"><br>
        <input v-model="imagen" type="text" placeholder="url imagen"><br>
        <button @click="crear">subir</button><br>
    </div>
</template>

<script>
const fb = require('../firebaseConfig.js')

export default {
    name: 'dashboard',
    data(){
        return{
            id:'',
            titulo:'',
            cuerpo: '',
            categoria: '',
            imagen: ''
        }
    },
    methods:{
        logout(){
            fb.auth.signOut().then(() => {
                alert('sesion cerrada')
                this.$router.replace('/login')
            }).catch(err => {
                console.log(err)
            })
        },
        crear(){
            fb.postsCollection.doc(this.id).set({
                categoria: this.categoria,
                titulo: this.titulo,
                entrada: this.cuerpo,
                fecha: new Date(),
                imagen: this.imagen
            })
            this.titulo= ''
            this.cuerpo=''
            this.id=''
            this.imagen=''
            this.categoria=''
        }
    }
}
</script>

<style scoped>

</style>