<template>
  <div class="home">
    <img alt="template" src="https://i.ytimg.com/vi/hW9PUzl7j9w/maxresdefault.jpg"><br>
    <div class="container">
      <card v-for="post in posts" :datos="post" :key="post.id" ></card>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
const fb = require('../firebaseConfig.js')
import card from '@/components/card.vue'

export default {
  name: 'home',
  components: {
    card
  },
  data(){
    return{
      posts: [{"categoria":"devops","entrada":"este es el tercer post de la pagina","fecha":{"seconds":1552083804,"nanoseconds":897000000},"imagen":"https://i.ytimg.com/vi/hW9PUzl7j9w/maxresdefault.jpg","titulo":"tercer post","id":"3post"},{"categoria":"personal","entrada":"segundo post en esta pagina","fecha":{"seconds":1552082640,"nanoseconds":0},"imagen":"https://i.ytimg.com/vi/hW9PUzl7j9w/maxresdefault.jpg","titulo":"segundo post","id":"S9OVTt1pdAYCwTlpAiUn"},{"categoria":"personal","entrada":"este es mi primer post","fecha":{"seconds":1552062120,"nanoseconds":0},"imagen":"https://i.ytimg.com/vi/hW9PUzl7j9w/maxresdefault.jpg","titulo":"primer post","id":"xVNCLjC65AUWL6vsuki2"}],
    }
  },
  methods:{
    cargarDb(){
      fb.commentsCollection.get().limit(3).then(docs => {
        let commentsArray = []
        docs.forEach(doc => {
          let comment = doc.data()
            comment.id = doc.id
            commentsArray.push(comment)
        })
        this.posts = commentsArray
      })
      .catch(function(error) {
        console.log("Error getting blogs: ", error);
      })
    }
  },
  mounted(){
    //this.cargarDb()
  }
}
</script>

<style scoped>
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 4rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}
</style>