<template>
    <div class="login">
        <h3>Login</h3>
        <input v-model="email" type="email" placeholder="email"><br>
        <input v-model="password" type="password" placeholder="password"><br>
        <button @click="Sign">Sign In</button>
        <br>
        <pre>{{email}}</pre>
        <pre>{{password}}</pre>
    </div>
</template>

<script>
const fb = require('../firebaseConfig.js')

export default {
    name: 'login',
    data(){
        return{
            email: "",
            password: ""
        }
    },
    methods:{
        Sign(){
            this.performingRequest = true
            fb.auth.signInWithEmailAndPassword(this.email, this.password).then(user => {
                //this.$store.commit('setCurrentUser', user)
                //this.$store.dispatch('fetchUserProfile')
                this.performingRequest = false
                alert('Usuario Logueado')
                this.$router.push('/dashboard')
            }).catch(err => {
                alert(err)
                this.performingRequest = false
                this.errorMsg = err.message
            })
        }
    }    
}
</script>

<style scoped>
.login{
    margin-top: 40px;
}
input{
    margin: 10px 0;
    width: 20%;
    padding: 15px;
}
button{
    margin-top: 20px;
    width: 10%;
    cursor: pointer;
}

</style>