<template>
    <div class="entrada">
        <div class="imagen">
            <router-link :to="{ name: 'blog', params: { id: datos.id }}">
                <img :src="datos.imagen" alt="">
            </router-link>
        </div>
        <div class="cuerpo">
            <span>{{ datos.categoria }}</span>
            <h3>{{ datos.titulo }}</h3>
            <!-- <p>{{ datos.entrada }}</p> -->
            <h4> <router-link :to="{ name: 'blog', params: { id: datos.id }}">Leer mas</router-link> </h4>
        </div>
    </div>
</template>

<script>
export default {
    name: 'card',
    props: ['datos']
}
</script>

<style scoped>
.entrada{
    background:#fff;
}
.imagen{
    width: 100%;
    position: relative;
}
img{
    max-width: 100%;
    background-size: cover;
    background-position: 50% 0; 
}
.cuerpo{
    padding: 0 1rem;
    text-align: left;
    font-size: 0.8rem;
}
.cuerpo p{
    margin: 0.6rem 0;
    font-size: 1.3rem;
}
.cuerpo h4{
    margin: 0.6rem 0;
    font-size: 0.8rem;
    color: #367BE8;
}
span{
    display: inline-block;
    position: relative;
    top: -2rem;
    left: -1rem;
    font-weight: 900;
    color: #367BE8;
    background: #fff;
    padding: 1.5em 2em 1.5em 1em;
    text-transform: uppercase;
    letter-spacing: 0.1rem; 
}
h3{
    color: #1f1f1f;
    font-size: 1.6rem;
    font-weight: 700;
    margin: -2.5rem 0 0;
    line-height: 142%;
}
</style>