<template>
    <div class="entradaBlog">
        <div class="entradaTitulo">
            <h1> {{ datos[0].titulo }} </h1>
        </div>
        <div class="entradaMeta">
            {{ fecha }}
        </div>
        <article class="entradaTexto">
            {{ datos[0].data }}
        </article>
        <pre>{{ datos }}</pre>
    </div>
</template>

<script>
const fb = require('../firebaseConfig.js')

export default {
    name: 'entrada',
    data(){
        return{
            id: this.$route.params.id,
            datos: [{
                categorias: '',
                data: '',
                fecha: {
                    seconds: '',
                    nanoseconds: ''
                },
                titulo: '',
                id: ''
            }],
            fecha: ''
        }
    },
    mounted(){
        this.cargarEntrada()
        //this.formatearfecha(this.datos[0].fecha.seconds) //arreglar
    },
    methods:{
        cargarEntrada(){
            fb.postsCollection.where("titulo","==",this.id).get().then(docs => {
                let entrada = []
                docs.forEach(doc => {
                    let comment = doc.data()
                    comment.id = doc.id
                    entrada.push(comment)
                })
                this.datos = entrada
                //this.formatearfecha(1552445160*1000)
            })
            .catch(function(error) {
                console.log("Error getting blogs: ", error);
            })
        },
        formatearfecha(timestamp){
            let x = new Date(timestamp*1000)
            let dd = x.getDate()
            let mm = x.getMonth()
            let yy = x.getFullYear()
            this.fecha = dd +"/" + mm+"/" + yy;
            console.log(timestamp + "=>" + timestamp*1000)
            console.log(dd +"/" + mm+"/" + yy)
        }
    }
}
</script>

<style scoped>
.entradaBlog{
    margin: 0 auto;
    max-width: 960px;
}
.entradaTitulo{
    margin: 1rem 0 1rem 0;
}
.entradaTitulo h1{
    font-weight: 700;
    line-height: 1.2;
    font-size: 42px;
    margin: 0 auto;
    color: #2e4453;
}
.entradaMeta{
    padding-bottom: 20px;
    margin: 0 0 38px 0;
    border-bottom: 1px solid rgba(200, 215, 225, 0.5);
}
.entradaTexto{
    max-width: 780px;
    padding: 0 30px;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.8;
    font-weight: 400;
}
</style>