<template>
    <div id="editor">
        <div v-html="input"></div>
        <editor v-model="input" :init="configuracion"></editor>
    </div>
</template>

<script>
import editor from '@tinymce/tinymce-vue';

export default {
    name: 'nuevaEntrada',
    components:{
      editor
    },
    data(){
        return{
            id: this.$route.params.id,
            input: '',
            configuracion: {
              external_plugins: {
                wordcount: "https://cloud.tinymce.com/5/plugins/wordcount/plugin.min.js",
                media: "https://cloud.tinymce.com/5/plugins/media/plugin.min.js",
                link: "https://cloud.tinymce.com/5/plugins/link/plugin.min.js",
                image: "https://cloud.tinymce.com/5/plugins/image/plugin.min.js",
                lists: "https://cloud.tinymce.com/5/plugins/lists/plugin.min.js",
                codesample: "https://cloud.tinymce.com/5/plugins/codesample/plugin.min.js",
                textcolor: "https://cloud.tinymce.com/5/plugins/textcolor/plugin.min.js"
              },
              toolbar:
    'styleselect bold italic alignleft aligncenter alignright alignjustify bullist numlist outdent indent link image media forecolor backcolor codesample ',
              browser_spellcheck: true,
              menubar: false
            }
        }
    }
}
</script>

<style scoped>
#editor{
  margin: 0 auto;
  max-width: 960px;
}
</style>